.venv/
__pycache__/
*.py[cod]
SIIM_TRAIN_TEST/
prepared_data/
checkpoints/
prediction_examples/
*.dcm
*.pth
*.pt
*.tar
*.zip
.env
.env.*
.ipynb_checkpoints/
gitignore
~$*
*.png
*.jpg
*.jpeg
*.csv
*.dicom
*.nii
*.nii.gz
